= render 'invoice'

%br
%br

%h3 Share this invoice

%p Your clients will be able to view this invoice online at the following URL
%code
  - public_url = "#{root_url}invoices/#{@user.id}/view/#{@invoice.id}"
  #{public_url} (#{link_to 'view', public_url})