= form_for @task do |f|

  = render 'shared/error_messages', :target => @task

  .field
    = f.label :title
    = f.text_field :title, :placeholder => 'what is your task?'

  .field
    = f.label "Project"
    = f.select :project_title, current_user.projects.collect{ |project| [project.title, project.title] }.unshift(["N/A", ""])

  .actions
    = f.submit 'Save'
