<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<div id='chart'></div>

<script type="text/javascript">
    
      // Load the Visualization API and the piechart package.
google.load('visualization', '1.0', {'packages':['corechart']});

// Set a callback to run when the Google Visualization API is loaded.
google.setOnLoadCallback(drawMouseoverVisualization);

// barsVisualization must be global in our script tag to be able
// to get and set selection.
var barsVisualization;

function drawMouseoverVisualization() {
	
  var data = new google.visualization.DataTable();
  data.addColumn('string', 'Year');
  data.addColumn('number', 'Sales');
  data.addColumn('number', 'Expenses');

  data.addRows([
    ['Jan', <%=current_user.invoiced_for('january')%>,<%=current_user.expenses_for('january')%>],
    ['Feb', <%=current_user.invoiced_for('february')%>,<%=current_user.expenses_for('february')%>],
    ['March', <%=current_user.invoiced_for('march')%>,<%=current_user.expenses_for('march')%>],
    ['April', <%=current_user.invoiced_for('april')%>,<%=current_user.expenses_for('april')%>],
    ['May', <%=current_user.invoiced_for('may')%>,<%=current_user.expenses_for('may')%>],
    ['June', <%=current_user.invoiced_for('june')%>,<%=current_user.expenses_for('june')%>],
    ['July', <%=current_user.invoiced_for('july')%>,<%=current_user.expenses_for('july')%>],
    ['Aug', <%=current_user.invoiced_for('august')%>,<%=current_user.expenses_for('august')%>],
    ['Sept', <%=current_user.invoiced_for('september')%>,<%=current_user.expenses_for('september')%>],
    ['Oct', <%=current_user.invoiced_for('october')%>,<%=current_user.expenses_for('october')%>],
    ['Nov', <%=current_user.invoiced_for('november')%>,<%=current_user.expenses_for('november')%>],
    ['Dec', <%=current_user.invoiced_for('december')%>,<%=current_user.expenses_for('december')%>],
  ]);
	
  barsVisualization = new google.visualization.ColumnChart(document.getElementById('chart'));

  barsVisualization.draw(data, {
    width: 920, 
    height: 300,
    colors: ['#537085', '#AAAAAA'],
    chartArea: {left:40,top:30, width:"75%",height:"70%"},
    legendTextStyle: {color:'#666666'}
  });
}

</script>