= form_for @client do |f|
  
  = render 'shared/error_messages', :target => @client

  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :telephone
    = f.text_field :telephone
  .actions
    = f.submit 'Save'
