= form_for @client do |f|
  
  = render 'shared/error_messages', :target => @client
  
  %h3 Basic Info

  .field
    = f.label :first_name
    = f.text_field :first_name, :placeholder => 'client first name'
  .field
    = f.label :last_name
    = f.text_field :last_name, :placeholder => 'client last name'
  .field
    = f.label :email
    = f.text_field :email, :placeholder => 'email address for client'
  .field
    = f.label :telephone
    = f.text_field :telephone, :placeholder => 'landline number'
    
  %h3 Address
  
  .field
    = f.label :address1
    = f.text_field :address1
  .field
    = f.label :address2
    = f.text_field :address2
  .field
    = f.label :address3
    = f.text_field :address3
    
  .actions
    = f.submit 'Save'
