%h1 Listing clients

%p= paginate @clients

- if @clients.blank?
  %p You don't have any clients yet.
- else
  %table
    %tr
      %th First name
      %th Last name
      %th Email
      %th Telephone
      %th
      %th

    - @clients.each do |client|
      %tr
        %td= link_to client.first_name, client_path(client)
        %td= link_to client.last_name, client_path(client)
        %td= client.email
        %td= client.telephone
        %td= link_to 'Edit', edit_client_path(client)
        %td= link_to 'Destroy', client, :confirm => 'Are you sure?', :method => :delete

  %br

= link_to 'New Client', new_client_path, :class => 'button'
