= form_for @upload do |f|

  = render 'shared/error_messages', :target => @upload

  .field
    = f.label :title
    = f.text_field :title, :placeholder => 'a name for your file'

  .field
    = f.label :category
    = f.select :category, Upload::CATEGORY

  .field
    = f.label "Make_public"
    = f.check_box :is_public

  .field
    = f.label :file
    = f.file_field :file
	
  .actions
    = f.submit 'Save'
