#signup_form
  .span-8
    %h3 You're just 60 seconds away from a new Funnel account

    .form
      = form_for @account do |f|

        = render "shared/error_messages", :target => @account

        = f.fields_for :users do |user|

          = user.label :first_name
          = user.text_field :first_name

          = user.label :last_name
          = user.text_field :last_name

          = user.label :email
          = user.text_field :email

          = user.label :password
          = user.password_field :password

          = user.label :password_confirmation
          %p.summary Your password confirmation
          = user.password_field :password_confirmation

        %h2 Your billing information
        %p== You will now be sent to our billing page. We need this information to verify that you have a valid credit card and to help reduce fraud. You won’t be charged a thing unless you keep your account open longer than the 30 day free trial, which will end on #{Date.today + 30.days}
        = hidden_field_tag :account_plan, @plan
        = f.submit 'Register', :class => 'button'

        %p By clicking register you are agreeing to our terms and conditions.